<?xml version="1.0" ?>
<?xml-stylesheet type='text/xsl' href='interface.xsl'?>
<interface uri="http://ryppl.github.com/feeds/boost/System.xml" xmlns="http://zero-install.sourceforge.net/2004/injector/interface" xmlns:compile="http://zero-install.sourceforge.net/2006/namespaces/0compile" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <name>BoostSystem</name>
  <icon href="http://svn.boost.org/svn/boost/website/public_html/live/gfx/boost-dark-trans.png" type="image/png"/>
  <summary>A C++ library from Boost.org</summary>
  <homepage>http://www.boost.org/libs/system/</homepage>
  <dc:author>Beman Dawes</dc:author>
  <description>Operating system support, including the diagnostics support
    that will be part of the C++0x standard library.</description>
  <category type="http://boost.org/lib-categories">System</category>
  <group license="OSI Approved :: Boost Software License 1.0 (BSL-1.0)">
    <implementation arch="*-src" id="4cd98fe8-f065-450c-9c7d-b911b50b6cf3" released="2012-04-28" stability="testing" version="1.49-post-201204281952">
      <archive extract="boost-lib-system-353bd55" href="http://nodeload.github.com/boost-lib/system/zipball/353bd5548cc13000f3f6ec337422f03ffd9526e7" size="44487" type="application/zip"/>
      <manifest-digest sha256="0f449f29948dcd3a2b40e4671c98b90b8491a5eeaa545ac88db967b8fef82d8b"/>
    </implementation>
    <command name="compile">
      <runner interface="http://ryppl.github.com/feeds/ryppl/0cmake.xml">
        <version not-before="0.8-pre-201204281522"/>
        <arg>--component=bin</arg>
        <arg>--overlay=${BOOST_CMAKELISTS_OVERLAY}</arg>
      </runner>
      <requires interface="http://ryppl.github.com/feeds/boost/CMakeLists.xml">
        <environment insert="system" mode="replace" name="BOOST_CMAKELISTS_OVERLAY"/>
      </requires>
      <requires interface="http://ryppl.github.com/feeds/boost/Config-dev.xml">
        <environment insert="." mode="replace" name="BoostConfig_DIR"/>
      </requires>
      <requires interface="http://ryppl.github.com/feeds/boost/Integer-dev.xml">
        <environment insert="." mode="replace" name="BoostInteger_DIR"/>
      </requires>
      <requires interface="http://ryppl.github.com/feeds/boost/Utility-dev.xml">
        <environment insert="." mode="replace" name="BoostUtility_DIR"/>
      </requires>
    </command>
  </group>
</interface>
<!-- Base64 Signature
iEYEABECAAYFAk+cSmcACgkQxnV5mk56UjGonQCgiHtEP4HJ24vLOi7Fx6+rrt6BL8AAoIHh1Ouf
P8a+F64LvYuSWdW9+7pp

-->
