<?xml version="1.0" ?>
<?xml-stylesheet type='text/xsl' href='interface.xsl'?>
<interface uri="http://ryppl.github.com/feeds/boost/System.xml" xmlns="http://zero-install.sourceforge.net/2004/injector/interface" xmlns:compile="http://zero-install.sourceforge.net/2006/namespaces/0compile" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <name>BoostSystem</name>
  <icon href="http://svn.boost.org/svn/boost/website/public_html/live/gfx/boost-dark-trans.png" type="image/png"/>
  <summary>A C++ library from Boost.org</summary>
  <homepage>http://www.boost.org/libs/system/</homepage>
  <dc:author>Beman Dawes</dc:author>
  <description>Operating system support, including the diagnostics support
    that will be part of the C++0x standard library.</description>
  <category type="http://boost.org/lib-categories">System</category>
  <group license="OSI Approved :: Boost Software License 1.0 (BSL-1.0)">
    <implementation arch="*-src" id="5de5b837-72e3-4b27-ab30-e98d1fb777ff" released="2012-04-29" stability="testing" version="1.49-post-201204291910">
      <archive extract="boost-lib-system-73218b5" href="http://nodeload.github.com/boost-lib/system/zipball/73218b57aadda5261abd7d5bb0b6e5c43d37b4b0" size="44606" type="application/zip"/>
      <manifest-digest sha256="a62ec0f0546361cf6354f0900622808a85b82c0cec050bce8152b078c8f11b65"/>
    </implementation>
    <command name="compile">
      <runner interface="http://ryppl.github.com/feeds/ryppl/0cmake.xml">
        <version not-before="0.8-pre-201204291504"/>
        <arg>--component=bin</arg>
        <arg>--overlay=${BOOST_CMAKELISTS_OVERLAY}</arg>
      </runner>
      <requires interface="http://ryppl.github.com/feeds/boost/CMakeLists.xml">
        <environment insert="system" mode="replace" name="BOOST_CMAKELISTS_OVERLAY"/>
      </requires>
      <requires interface="http://ryppl.github.com/feeds/boost/Config-dev.xml">
        <environment insert="." mode="replace" name="BoostConfig_DIR"/>
      </requires>
      <requires interface="http://ryppl.github.com/feeds/boost/Integer-dev.xml">
        <environment insert="." mode="replace" name="BoostInteger_DIR"/>
      </requires>
      <requires interface="http://ryppl.github.com/feeds/boost/Utility-dev.xml">
        <environment insert="." mode="replace" name="BoostUtility_DIR"/>
      </requires>
    </command>
  </group>
</interface>
<!-- Base64 Signature
iEYEABECAAYFAk+dkjMACgkQxnV5mk56UjG9/wCfRqNf72L3OvpgeCQiRORWIuWesxEAnjrZpYGU
zOF/wAZWOCZsSJcGV/4W

-->
