<?xml version="1.0" ?>
<?xml-stylesheet type='text/xsl' href='interface.xsl'?>
<interface uri="http://ryppl.github.com/feeds/boost/system.xml" xmlns="http://zero-install.sourceforge.net/2004/injector/interface" xmlns:compile="http://zero-install.sourceforge.net/2006/namespaces/0compile" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <name>Boost.System (binaries)</name>
  <icon href="http://svn.boost.org/svn/boost/website/public_html/live/gfx/boost-dark-trans.png" type="image/png"/>
  <summary>A C++ library from Boost.org</summary>
  <homepage>http://www.boost.org/libs/system/</homepage>
  <dc:author>Beman Dawes</dc:author>
  <description>Operating system support, including the diagnostics support
    that will be part of the C++0x standard library.</description>
  <category type="http://boost.org/lib-categories">System</category>
  <group license="OSI Approved :: Boost Software License 1.0 (BSL-1.0)">
    <implementation arch="*-src" id="f39f3c11-034e-4711-b04b-30594696a879" released="2012-05-09" stability="testing" version="1.49-post-201205092250">
      <archive extract="empty" href="http://ryppl.github.com/feeds/empty.zip" size="162" type="application/zip"/>
      <manifest-digest sha1new="da39a3ee5e6b4b0d3255bfef95601890afd80709"/>
    </implementation>
    <command name="compile">
      <runner interface="http://ryppl.github.com/feeds/ryppl/ryppl.xml">
        <arg>writable-directory-overlay</arg>
        <arg>${SRCDIR}</arg>
        <arg>${DISTDIR}</arg>
      </runner>
      <requires interface="http://ryppl.github.com/feeds/boost/system-preinstall.xml">
        <environment insert="bin" mode="replace" name="SRCDIR"/>
      </requires>
    </command>
  </group>
</interface>
<!-- Base64 Signature
iEYEABECAAYFAk+q9VkACgkQxnV5mk56UjE/sgCfY+yVTh2lljst1qamttHpBWl+jb4AnRzfjjPG
1aGK5eEX4ZJziKf+QTJo

-->
